h1 {
    color: white;
    background-color: black;
    font-size: 100px;
    text-align: center;
}

a {
    background-color: bisque;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

